@using MvcOnlineTicariOtomasyon.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Cariler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int count = (Model.PageNumber - 1) * Model.PageSize;
}

<table class="table table-striped" style="margin-top:25px;">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Detaylar</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.CariAd</td>
            <td>@item.CariSoyad</td>
            <td>@item.CariSehir</td>
            <td>@item.CariMail</td>
            <td><a href="#" class="btn btn-info">Satış Geçmişi</a></td>
            <td><a href="#" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Cari/CariSil/@item.Cariid" class="btn btn-danger">Sil</a></td>
        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }), new PagedListRenderOptions
{

    LiElementClasses = new List<string> { "page-link" },
     MaximumPageNumbersToDisplay = 3 // Sadece 3 sayfa göster

})

<a href="/Cari/YeniCari" class="btn btn-primary">Cari Ekle</a>