@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Yapilacak>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>@ViewBag.d1</h3>
                                <p>Cari Sayısı</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>@ViewBag.d2</h3>
                                <p>Ürün Sayısı</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>@ViewBag.d3</h3>
                                <p>Fatura Sayısı</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-clipboard"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>@ViewBag.d4</h3>
                                <p>Fatura Kalem Sayısı</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-document-text"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <section class="col-lg-12 connectedSortable">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="ion ion-clipboard mr-1"></i>
                                    Yapılacaklar
                                </h3>
                            </div>

                            <div class="card-body">
                                <ul class="todo-list" data-widget="todo-list">
                                    @foreach (var item in Model)
                                    {
                                        <li>
                                            <span class="handle">
                                                <i class="fas fa-ellipsis-v"></i>
                                                <i class="fas fa-ellipsis-v"></i>
                                            </span>
                                            <div class="icheck-primary d-inline ml-2">
                                                <input type="checkbox" name="todo" id="@item.Yapilacakid" checked="@item.Durum">
                                                <label for="@item.Yapilacakid"></label>
                                            </div>
                                            <span class="text">@item.Baslik</span>
                                            <div class="tools">
                                                <i class="fas fa-edit"></i>
                                                <a href="/Yapilacak/YapilacakSil/@item.Yapilacakid"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>

                            <div class="card-footer clearfix">
                                <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#Modal1"><i class="fas fa-plus"></i> Yapılacak Ekle</button>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </section>
    </div>

    <div class="modal" id="Modal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Popup Ekranı</h2>
                </div>
                <div class="modal-body">
                    <form class="form-group" method="post" action="/Yapilacak/YapilacakEkle">
                        <label>Açıklama Ekleyiniz</label>
                        <textarea name="Baslik" id="Baslik" class="form-control" rows="5"></textarea>
                        <br />
                        <button class="btn btn-primary" id="btn1">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- SweetAlert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $("#btn1").click(function (event) {
            event.preventDefault(); // Prevent form submission initially

            swal("Başarıyla Kaydedildi", "", "success").then(function () {
                // Once SweetAlert is closed, submit the form
                $("form").submit();
            });
        });

    </script>

    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.js"></script>
</body>
</html>
