@using MvcOnlineTicariOtomasyon.Models.Siniflar
@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int count = (Model.PageNumber - 1) * Model.PageSize;
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>#</th>
        <th>Ürün</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyat</th>
        <th>Satış Fiyat</th>
        <th>Kategori</th>
        <th>Görsel</th>
        <th>Detay</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.UrunAd</td>
            <td>@item.Marka</td>
            <td>@item.Stok</td>
            <td>@item.AlisFiyat.ToString("C2")</td>
            <td>@item.SatisFiyat.ToString("C2")</td>
            <td>@item.Kategori.KategoriAd</td>
            <td><img src="@item.UrunGorsel" style="height:130px;" /></td>
            <td><a href="/UrunDetay/Index/@item.Urunid" class="btn btn-info">Detay</a></td>
            <td><a href="/Urun/UrunGetir/@item.Urunid" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Urun/UrunSil/@item.Urunid" class="btn btn-danger">Sil</a></td>
        </tr>
    }

</table>
<br />

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }), new PagedListRenderOptions
{

    LiElementClasses = new List<string> { "page-link" },
     MaximumPageNumbersToDisplay = 3

})

<a href="/Urun/YeniUrun" class="btn btn-primary">Ürün Ekle</a>

